<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
       
        a{
            font-family:Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div id="container"><h2>My shopping cart | <a href="/dashboard"><button>Dashboard</button></a></h2></div>

    {%for product in usershopping%}
    
    <div class="product-container">
    <div class="product-card">
        <img src="{{product.image_url}}" alt="image" class="product-image">
        <div class="product-name">{{product.name}}</div>
        <div class="seller-contact">Description:</div>
        <div class="product-condition">{{product.description}}</div>
        <div class="product-condition">Condition: {{product.product_nature}}</div>
        <div class="product-price">Price Ksh: {{product.price}}</div>
        <div class="seller-contact">Category: {{product.category}}</div>
        <div class="seller-contact">seller: {{product.seller_name}}</div>
        <a href="/remove/{{product.id}}"><button>Remove</button></a> <a href="/pay/{{product.id}}"><button>Order</button></a> 
    </div>
    </div>
    {%endfor%}
    
</body>
</html>