<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
       
        a{
            font-family:Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div id="container"><a href="/"><button>HOME</button></a><h1>Categories</h1></div>
    <div id="cat"><a href="">Phones</a></div><br>
    <div id="cat"><a href="">TVs</a></div><br>
    <div id="cat"><a href="">Laptops</a></div><br>
    <div id="cat"><a href="">Speakers and sound systems</a></div><br>
    <div id="cat"><a href="">Other electronics</a></div><br>
    <div id="cat"><a href="">Accessories</a></div><br>
    <div id="cat"><a href="">Furniture</a></div><br>
    <div id="cat"><a href="">Household</a></div><br>
    <div id="cat"><a href="">Male Clothes</a></div><br>
    <div id="cat"><a href="">Female Clothes</a></div><br>
    <div id="cat"><a href="">Beauty and cosmetics</a></div><br>
    <div id="cat"><a href="">Bikes and motorcycles</a></div><br>
    <div id="cat"><a href="">Foods</a></div><br>
    <div id="cat"><a href="">Others</a></div><br>
    
</body>
</html>