<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
       
        a{
            font-family:Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div id="container"><a href="/"><button>HOME</button></a><h1>Categories</h1></div>
    <div id="cat"><a href="/category/{{'Phones'}}">Phones</a></div><br>
    <div id="cat"><a href="/category/{{'TVs'}}">TVs</a></div><br>
    <div id="cat"><a href="/category/{{'Laptops'}}">Laptops</a></div><br>
    <div id="cat"><a href="/category/{{'Electronics'}}">Electronics</a></div><br>
    <div id="cat"><a href="/category/{{'Accessories'}}">Accessories</a></div><br>
    <div id="cat"><a href="/category/{{'Furniture'}}">Furniture</a></div><br>
    <div id="cat"><a href="/category/{{'Household'}}">Household</a></div><br>
    <div id="cat"><a href="/category/{{'Beauty and Cosmetics'}}">Beauty and cosmetics</a></div><br>
    <div id="cat"><a href="/category/{{'Bikes and motorcycles'}}">Bikes and motorcycles</a></div><br>
    <div id="cat"><a href="/category/{{'Food'}}">Food</a></div><br>
    <div id="cat"><a href="/category/{{'Others'}}">Others</a></div><br>
    
</body>
</html>