<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/styles.css">
        
</head>
<body>
    <div id="header"><a href="/messages">Inbox</a> | <a href="/sent">Sent</a></div>
    <div id="header"><h3>Message To: {{name}}</h3></div>
   
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <h4>{{message}}</h4>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br><br>
    <div class="holder">
    <div class="login-container">
        <form method="POST">
            <textarea id="message" name="message" rows="3" placeholder="Type message"></textarea><br><br>
            <button type="submit" class="sub-btn">Send</button><br><br>
           
        </form>
    </div>
    </div>
    </div>
    <br><br>
    
    
</body>
</html>