<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="header"><a href="/"><button>HOME</button></a><h1>Create seller account</h1></div>
    {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <h4>{{message}}</h4>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class="holder">
    <div class="login-container">
        <form method="POST">
            <input type="tel" placeholder="Enter phone number" name="phone_number" minlength="10" maxlength="10" required><br><br>
            Location<br>
            <select name="location" id="location" required >
                <option value="KV"> KV</option>
                <option value="kitui">KITUI</option>
                <option value="Main Campus">MAIN CAMPUS</Main></option>
            </select><br>
            <input type="text" placeholder="Username" name="username" required><br><br>
            <input type="password" placeholder="Password" name="password" minlength="4" required><br><br>
            <button type="submit" class="sub-btn">Submit</button><br><br>
           
        </form>
        
    </div>
</div>
    <br>
    <div id="fog">
        <a href="">Forgot password?</a><br>
        Already have an account? <a href="\login">Login</a>
    </div>
    
</body>
</html>