<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
       
        a{
            font-family:Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <h4>{{message}}</h4>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div id="container"><a href="/dashboard"><button>Dashboard</button></a><h2>Inbox | <a href="/sent">Sent</a></h2></div>
    {% for message in my_recieved_messages %}
    <div class="product-container"><h4>From: {{message.buyer_name}}</h4><div id="fog" >{{message.message}} <br><a href="/replymsg/{{message.id}}"><button>Reply</button></a> </div><a href="/deletemsg/{{message.id}}" style="font-size: medium;">Delete</a></div><br>
    <hr style="color:green; height: 5px; background-color: green; border-radius: 20px;">
    
    {%endfor%}
    
</body>
</html>