<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
    <link rel="stylesheet" href="/static/styles.css">
        
</head>
<body>
    <div id="header"><h1>Complete your order <a href="/mycart"><button>My cart</button></a></h1></div>
   
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <h4>{{message}}</h4>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
    {%for product in cart%}
  
   
        <br><br>
    <div class="holder">
    <div class="login-container">
        <form method="POST">
            Purchasing: {{product.name}}
            <div id="cat"><h2>Shipping info</h2></div><br>
            Delivery Location:
            <select name="dlocation" id="location" required >
                <option value="KV"> KV</option>
                <option value="kitui">KITUI</option>
                <option value="Main Campus">MAIN CAMPUS</Main></option>
            </select><br> 
            Address:<input type="text" placeholder="E.g Plot name and room number" name="address" required><br><br>
            Price Ksh: {{product.price}}<br>
            Mpesa Number:<input type="number" placeholder="Enter number" name="mpesa" required><br><br>
            <button type="submit" class="sub-btn">Send</button><br><br>
           
        </form>
    </div>
    </div>
    </div>
    {%endfor%}
    <br><br>
    
</body>
</html>