<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phones</title>
    <link rel="stylesheet" href="/static/product.css">
</head>
<body>
    <div id="category"><a href="/">Home</a><h1>Phones</h1></div>
    <div id="pro">
    <h2>{{product['name']}}</h2><br>
    <img src="/static/adv.JPG" width="100px" height="100px"><br>
    <u><h3>Contact seller</h3></u>
    <a href="">Whatsapp </a>   |   |   <a href=""> Call</a>
  
    </div>
</body>
</html>