<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Products</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
       
        a{
            font-family:Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div id="container"><h2>Profile</h2></div>
    <div class="product-container">
    
        <div class="product-card">
        <div class="product-price">username: {{current_user.username}}  </div>
    
        <div class="product-price">email: {{current_user.email}}  </div>
    
        <div class="product-price">Phone number: {{current_user.phone_number}} </div>
        
        <div class="product-price">Location: {{current_user.location}} </div>
        <a href=""><button>Edit</button></a>
    </div>
    </div>
    

    
</body>
</html>